<div class="container">
  <!-- <div class="row justify-content-md-center" style="text-align:center">
    <div class="col-md-4" style="text-align:center">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/Images/SeattlePic.jpeg" height="180px;" width="180px;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="assets/Images/SeattlePic.jpeg" height="180px;" width="180px;" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="assets/Images/SeattlePic.jpeg" height="180px;" width="180px;" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
        </div> 
  </div> -->

 <div class="center">
  <div class="col-sm-6 col-md-6 col-lg-6" style="width:400px;border: black">
      <div class="card" style="width:18rem;">
          <img class="card-img-top" src="assets/Images/CGI.jpeg" height="200px;" width="250px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color:orange">CGI Technologies</h5>
            <h6 class="card-title text-success">FullStack Developer</h6>
            <p class="card-text" style="width:250px;">CGI’s Insights to Action Report presents the global insights and perspectives we gain from listening to our clients, and showcases the innovative work we are doing to support them in becoming digital enterprisess</p>
            <a href="https://www.cgi.com/en" class="btn btn-primary">Visit Site</a>
          </div>
        </div>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6" style="width:400px">
      <div class="card" style="width:18rem;">
          <img class="card-img-top" src="assets/Images/App3.jpg" height="200px;" width="250px;" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title" style="color:orange">AppScienti</h5>
            <h6 class="card-title text-success">Junior Developer</h6>
            <p class="card-text" style="width:250px;">AppScienti is one of the fastest growing start up organisation in India. With its 
            cutting technology it became a successfull IT Industry with more than thousand employees currently.</p>
            <a href="http://www.appscienti.com/" class="btn btn-primary">Visit Site</a>
          </div>
        </div>
  </div>
 
 </div>

</div>
<br>
<br>
<div class="container">
    <div class="center">
      
          <div class="timeline-centered">
  
          <article class="timeline-entry">
  
              <div class="timeline-entry-inner">
  
                  <div class="timeline-icon bg-success">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                      
                  </div>
  
                  <div class="timeline-label">
                      <h2 class="text-success"><a >Full Stack Developer</a></h2>
                      <p>I have advanced proficiencies in C#, Angular, MVC, BootStrap, HTML, CSS, JavaScript, excellent microsoft technology skills skills and am familiar with SQL and Oracle.
                         I also have a solid foundation in C#, AS.NET ,AngularJS, MVC  and Node.JS. In addition to four years work experience, I hold a Masters  degree in Computer Science.
                         I have obtained microsoft Developer certification</p>
                  </div>
              </div>
  
          </article>
  
  
          <article class="timeline-entry">
  
              <div class="timeline-entry-inner">
  
                  <div class="timeline-icon bg-secondary">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
  
                  <div class="timeline-label">
                      <h2 class="text-success"><a >.Net Developer</a></h2>
                      <p>I worked mostly on Webforms and server side controls. Basically ASP.NET application. Used stored procedures
                      funtions, triggers for data manipulation. I have used the legcy front end controls.
                      </p>
                  </div>
              </div>
  
          </article>
          <article class="timeline-entry">
  
              <div class="timeline-entry-inner">
  
                  <div class="timeline-icon bg-info">
                      <i class="fa fa-pencil" aria-hidden="true"></i>
                  </div>
  
                  <div class="timeline-label">
                      <h2 class="text-success"><a >Internship</a></h2>
                      <p>I have started my software carrier here as an Intern. Ive dealt mostly with HTML, CSS desinging. I was involved in gathering the requirments from the business people. </p>
                  </div>
              </div>
  
          </article>
  
  
      </div>
  
      
    </div>
  </div>