<p>

</p>

 <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Coustard:400,900' rel='stylesheet' type='text/css'>
  

<!-- <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-xs-5">
       Hyperlink
      </div>
      <div class="col-lg-7 col-md-7  col-xs-7">
       Content
      </div>
    </div>
  </div> -->
  <div>
      <section id="about">
          <div class="container">
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h5 style="color: orange">My career TimeLine <i class="fa fa-history"></i></h5>
                      <h6  style="color: orange" style="font:italic;color: orange" >I have mentioned my achievements through timeline. I don't want this timeline crap. Haha.<i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i></h6>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/SeattlePic.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> 2008-2012</h5>
                                      <h5 class="subheading" style="color:orange">Under Garduation <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark">I've joined my under graduation in 2012 in the field of computer science. I have learned how different subjects related to computers during my course which helped in developing my career later</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Cali_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> October 2012</h5>
                                      <h5 class="subheading" style="color:orange">Joined AppScienti <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark" >After finishing my graduation from JNTU , I have received an oppurtunity from a start up compnay "AppScient". I have out in my therotical knwoledge into practicle in this company</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/BW3_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">Jan 2015 - 2016</h5>
                                      <h5 class="subheading" style="color:orange">Masters Education (U.C.M) <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> I have got an admission from University of central missouri in the field of computer science.To pursue my higher education i came to united states and pursued my masters. Learnt lot of new things in programming</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Selfie.JPG" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">July 2016</h5>
                                      <h5 class="subheading" style="color:orange">Joined CGI <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> After pursuing masters degree from U.C.M, I was offered software developer position from recognized organisation CGI. I have explored many technologies while working with CGI.  </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <h4>Stay
                                      <!-- <br>Of Our -->
                                      <br>Connected!!</h4>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      
   </div>

    