
<div class="container">
    <div class="page-header">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="section-heading" style="color: orange">Technologies I know <i class="fa fa-laptop"></i></h4>
               
            </div>
        </div>
    </div>
    <ul class="timeline">
        <li>
          <div class="timeline-badge green" ><i class="fa fa-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="text-success" style="color:orange;font-family:Arial, Helvetica, sans-serif">FrontEnd</h5>
              <!-- <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p> -->
            </div>
            <div class="timeline-body" >
              <p>ASP .NET , HTML, XML, CSS, JQuery and Java Script

                  </p>
            </div>
          </div>
        </li>
        <li class="timeline-inverted">
          <div class="timeline-badge green"><i class="fa fa-globe"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title" style="color:orange;font-family:Arial, Helvetica, sans-serif">Tools</h5>
            </div>
            <div class="timeline-body">
<p> C#, Web Forms, Win Forms, ASP.NET, ADO.NET, .Net Framework 1.1/2.0/3.0/3.5, SSIS, Silverlight, WWF, Web & WCF Services</p>

            </div>
          </div>
        </li>
        <li>
          <div class="timeline-badge green"><i class="fa fa-database"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title" style="color:orange;font-family:Arial, Helvetica, sans-serif">DataBase</h5>
            </div>
            <div class="timeline-body">
              <p>MS SQL Server 2000/2005/2008, MS-Access,<br> oracle 9g/10g/11g, MongoDB</p>
            </div>
          </div>
        </li>
        <li>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title" style="color:orange;font-family:Arial, Helvetica, sans-serif">Data Access Technologies</h5>
              </div>
              <div class="timeline-body">
                <p>ADO.NET, LINQ and EDM, EntityFramework</p>
              </div>
            </div>
          </li>
        <li class="timeline-inverted">
            <div class="timeline-badge green"><i class="fa fa-globe"></i></div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5 class="timeline-title" style="color:orange;font-family:Arial, Helvetica, sans-serif">Development Tools</h5>
              </div>
              <div class="timeline-body">
  <p> Visual Studio.NET 20012/2015/2017, Visual Studio Code/Code2, Oracel SQL <br>Developer 
     Sublime, SQL Server Management Studio</p>
  
              </div>
            </div>
          </li>
       
        <li>
          <div class="timeline-badge green"><i class="fa fa-laptop"></i></div>
          <div class="timeline-panel">
            <div class="timeline-heading">
              <h5 class="timeline-title" style="color:orange">Operarting Sytems</h5>
            </div>
            <div class="timeline-body">
              <p>Windows 2017/2015, Windows X, Mac OS, Linux, Ubuntu</p>
              <hr>
              <!-- <div class="btn-group">
                <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown">
                  <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div> -->
            </div>
          </div>
        </li>
       
      
    </ul>
</div>