<div style="display:none">
<h1 style="display:none">
    Welcome to {{ title }}!
  </h1>
<div class="container-fluid"   >
  <br>
  <br>
  <div class="container">
              <div class="text-center center-block">
                  <p class="text-primary"><strong>Connect Me on ..</strong> </p>
                  <br />
                   <a href="https://www.facebook.com/profile.php?id=100001580072356"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                    <a href="https://twitter.com/naveenR34536534"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                    <a href="https://www.linkedin.com/in/naveen-reddy-03457311a"><i id="social-gp" class="fa fa-linkedin-square fa-4x social"></i></a>
                    <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-reddit-square fa-4x social"></i></a>
                    <a href="https://www.instagram.com/naveen.patancheru"><i id="social-insta" class="fa fa-instagram fa-4x social"></i></a>
                    <a href="https://github.com/Naveenpatancheru"><i id="social-git" class="fa fa-github fa-4x social"></i></a>
                    <span style="float: right" class="text-success"><strong style="color:orange;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">No.Of Visits</strong> &nbsp; <i class="fa fa-eye"></i>:&nbsp;{{counter}} </span>
          <hr>
      </div>

  <div class="row text-center" >
    <img class="img-circle" style="width:250px;height:250px;" src="assets/Images/IMG_3530.jpg"><br><br>
    <span class="lead text-success"><strong>Naveen Patancheru.</strong></span>
    <h6><i id="social-windows" class="fa fa-windows icon-a"></i> &nbsp;Microsoft Certified Developer</h6>
 
  </div>
  <br>
  <br>
  <br>
  <div class="row bg-light text-dark text-center hidden-xs">
     
    <div class="span7">
      <!-- <blockquote > -->
        <small class="text-success"><strong><cite></cite> About Me</strong> &nbsp; <i id="social-git" class="fa fa-user"></i></small>
       <br>
        <div class="css-typing">
                <p>
                 <strong>  I'm passionate traveller, Coffee lover and unintentional software professional.</strong>
                </p>
                <p>
                <strong>   I enjoy turning complex problems into simple, easy.</strong>
                </p>
                <p>
                        <strong>  I like challenges because they teach me, they give me new experience, Confidence.</strong>
                </p>
              </div>
  </div>
      <!-- </blockquote> -->
  </div>
  <div class="row bg-light text-dark text-center hidden-lg hidden-md hidden-sm">
     
    <!-- <div class="span7"> -->
     
        <small class="text-success"><strong><cite></cite> About Me</strong> &nbsp; <i id="social-git" class="fa fa-user"></i></small>
       <br>
        <div class="">
                <p>
                 <strong>  I'm passionate traveller, Coffee lover and unintentional software professional.</strong>
                </p>
                <p>
                <strong>   I enjoy turning complex problems into simple, easy.</strong>
                </p>
                <p>
                        <strong>  I like challenges because they teach me, they give me new experience, Confidence.</strong>
                </p>
              </div>
      
  </div>
  </div>

  </div>
  <br>
  <br>

  <div class="container-fluid border text-center mt-4 w-50">

           <nav class="menu-navigation-icons">
              <a  routerLink="/Projects" routerLinkActive="active"  class="menu-magenta hvr-wobble-to-top-right"><i class="fa fa-tasks"></i><span>AboutMe</span></a>
              <a routerLink="/Experience" routerLinkActive="active"  class="menu-blue hvr-wobble-to-top-right"><i class="fa fa-history"></i><span>Experience</span></a>
              <a  routerLink="/Technologies" routerLinkActive="active"    class="menu-green hvr-wobble-to-top-right"><i class="fa fa-laptop"></i><span>Technologies</span></a>
              <a routerLink="/Askmeanything" routerLinkActive="active"   class="menu-yellow hvr-wobble-to-top-right"><i class="fa fa-globe"></i><span>AskMeA</span></a>
              <a routerLink="/LikesComponent" routerLinkActive="active" class="menu-red hvr-wobble-to-top-right"><i class="fa fa-heart"></i><span>Resume</span></a>
          </nav>
             <br>
             <br>
             <br>
   <router-outlet></router-outlet>
   </div>
   
   <hr>

   <div style="display:none">
      <section id="about">
          <div class="container" >
              <div class="row">
                  <div class="col-lg-12 text-center">
                      <h4 class="section-heading" style="color: orange">My career TimeLine <i class="fa fa-history"></i></h4>
                      <h6  style="color: orange" style="font:italic;color: orange" >I have mentioned my achievements through timeline. I don't want this timeline crap. Haha.<i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i></h6>
                  </div>
              </div>
              <br>
              <div class="row">
                  <div class="col-lg-12">
                      <ul class="timeline">
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/SeattlePic.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> 2008-2012</h5>
                                      <h5 class="subheading" style="color:orange">Under Garduation <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark">I've joined my under graduation in 2012 in the field of computer science. I have learned how different subjects related to computers during my course which helped in developing my career later</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Cali_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green"> October 2012</h5>
                                      <h5 class="subheading" style="color:orange">Joined AppScienti <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark" >After finishing my graduation from JNTU , I have received an oppurtunity from a start up compnay "AppScient". I have out in my therotical knwoledge into practicle in this company</p>
                                  </div>
                              </div>
                          </li>
                          <li>
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/BW3_640x640.jpeg" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">Jan 2015 - 2016</h5>
                                      <h5 class="subheading" style="color:orange">Masters Education (U.C.M) <i id="social-git" class="fa fa-graduation-cap"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> I have got an admission from University of central missouri(USA) in the field of computer science.To pursue my higher education i came to united states and pursued my masters. Learnt lot of new things in programming</p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <img class="img-circle img-responsive" src="assets/Images/Selfie.JPG" alt="">
                              </div>
                              <div class="timeline-panel">
                                  <div class="timeline-heading">
                                      <h5 style="color:green">July 2016</h5>
                                      <h5 class="subheading" style="color:orange">Joined CGI <i class="fa fa-users" aria-hidden="true"></i></h5>
                                  </div>
                                  <div class="timeline-body">
                                      <p class="text-dark"> After pursuing masters degree from U.C.M, I was offered software developer position from recognized organisation CGI. I have explored many technologies while working with CGI.  </p>
                                  </div>
                              </div>
                          </li>
                          <li class="timeline-inverted">
                              <div class="timeline-image">
                                  <h4>Stay
                                      <!-- <br>Of Our -->
                                      <br>Connected!!</h4>
                              </div>
                          </li>
                      </ul>
                  </div>
              </div>
          </div>
      </section>
      
   </div>
</div>





<!-- //class="navbar navbar-dark bg-dark navbar-fixed-top" 007E33  #1b7f69  #f7484e   #45b29a-->
<nav style="background-color:#45b29a;" >
        <div class="container">
          
          
          <div class="toggle">
               <i id="social-windows" class="fa fa-bars menu"></i>
          </div>
          <div class="navbar-header" style="display:none">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="navbar-toggler-icon"></span>
                <!-- <span class="sr-only">Toggle navigation  navbar-toggler      </span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>  -->
              
            </button>
            <a class="navbar-brand" href="#"><i class="fa fa-bars"></i></a>
          </div>
          <nav  class="menuBar">
              <ul >
                    <li class="ladybug"> <img class="img-circle" style="width:50px;height:50px;" src="assets/Images/Selfie.JPG"></li>
                    <li><a href="#showcase" >Home</a></li>
                   
                    <li><a href="#info1">Experience</a></li>
                    <li><a href="#Technologies">Technologies</a></li>
                    <li><a href="#AskMeAnything">AskMeAnything</a></li>
                    <li><a href="#Footer">Contact</a></li>
              </ul>
          </nav>
          <div id="navbar" style="display:none">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#showcase" >Home</a></li>
              <!-- <li><a href="#info1">About</a></li> -->
              <li><a href="#info1">Experience</a></li>
              <li><a href="#Technologies">Technologies</a></li>
              <li><a href="#AskMeAnything">AskMeAnything</a></li>
              <li><a href="#Footer">Contact</a></li>
            </ul>
          </div>
          
        
        </div>
      </nav>


      <div class="bg">

     

      








      <section id="showcase" class="showcase1">
            <div class="container">
              <br>
              
           
             
             
              <div class="row">
                <div class="col-md-6 col-sm-6 col-lg-6">
                  <div class="row text-center">
                    <div class="showcase-left">
                        <br>
                        <br>
                       

                      <img class="img-circle" style="width:250px;height:250px;" src="assets/Images/IMG_3530.jpg"><br><br>
                      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;  &nbsp;&nbsp;&nbsp; 
                        <!-- <span class="lead text-success mainFont"><strong>Naveen Patancheru!</strong></span> -->
                        <span class="lead text-success signFont"><strong>Naveen Patancheru!</strong></span>
                        
                      </div>

                     
                     
                  </div>
                 
                  <!-- <div class="showcase-left">
                   <img src="assets/Images/IMG_3530.jpg" >
                 
                  </div> -->
                </div>
                <div class="col-md-6 col-sm-6">
                  
                  <div class="showcase-right">
                     <!-- <span class="lead text-success"><strong>Naveen Patancheru.</strong></span>
                      <h6><i id="social-windows" class="fa fa-windows icon-a"></i> &nbsp;Microsoft Certified Developer</h6> -->
                      <h4><i id="social-windows" class="fa fa-windows icon-a"></i> &nbsp;Microsoft Certified Developer/&nbsp; <i id="social-windows" class='fab fa-aws icon-c'></i> &nbsp;AWS Certified Developer</h4> 
                      <h6>Full stack developer</h6>
                    <p  class="mainFont" >I'm passionate traveller, Coffee addictive and a software professional.
                        I enjoy turning complex problems into simple, easy.I like challenges because they teach me, 
                        they give me new experience, Confidence. I've pursued my masters in University of Central Missouri. I am a good problem-solver with an inquisitive and innovative mind, and loves to collaborate with other teams to drive the company forward.

                        <br>
                        <br>
                        I'm originally from India. After pursuing my masters in 2016 in USA 2016, worked there for 4 years and moved to Canada. 
                        When I'm not making magic at my desk, You're likely to find me exploring nature,taking a long road trip.
                        I have done work in software development, front-end/back-end web, database/server management, graphic design. 
                    </p>
                    <p class="text-primary" style="display:none"><strong>Connect Me on ..</strong> </p>
                    <br />
                    <div class="paragraph2" style="display:none">
                     <a href="https://www.facebook.com/profile.php?id=100001580072356"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                    <a href="https://twitter.com/naveenR34536534"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                      <a href="https://www.linkedin.com/in/naveen-reddy-03457311a"><i id="social-gp" class="fa fa-linkedin-square fa-4x social"></i></a>
                      <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-reddit-square fa-4x social"></i></a>
                      <a href="https://www.instagram.com/naveen.patancheru"><i id="social-insta" class="fa fa-instagram fa-4x social"></i></a>
                      <a href="https://github.com/Naveenpatancheru"><i id="social-git" class="fa fa-github fa-4x social"></i></a>
                      <span style="float: right" class="text-success"><strong style="color:orange;font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif">No.Of Visits</strong> &nbsp; <i class="fa fa-eye"></i>:&nbsp;{{counter}} </span>
                    </div> 
                    <a class="btn btn-primary btn-sm showcase-btn mainFont">Read More</a>
                  </div>
                  
                 
                </div>
                <br>
                <br>
              </div>
            </div>
          </section>
          <section id="testimonial" class="showcase1">
                <div class="container" style="font-size:22px;">
                    <!-- <span class="text-success"><strong>Naveen Patancheru.</strong></span> -->
                    <span class="mainFont">"It’s a curious thing about our IT industry: not only do we not learn from our mistakes, we also don’t learn from our successes."</span>
                  <!-- <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim "</p> -->
                <br>  <span ><strong class="mainFont">--Keith Braithwaite!</strong></span>
                </div>
              </section>

              <section id="info1" >
                    <div class="container">
                      <br>
                      <br>
                      <br>
                      <br>
                        <div class="col-lg-12 text-center">
                            <!-- <figure class="image"><img class="is-skill-icon" src="img/icon-designer.svg"></figure>
                            <h1 class="title is-size-4 is-spaced">Designer</h1> -->
                            <!-- <h1><i class="fa fa-laptop icon-b"></i></h1>  -->
                               <!-- <small class="text-success mainFont"><strong><cite></cite><h3 >  Experience</h3> </strong></small> -->
                               <!-- <h3 class="section-heading" style="color: #007E33" ><ins>Experience</ins></h3> -->
                               <small class="text-success sideHeadings"><strong><cite></cite> <ins>Experience</ins>  </strong></small> 
                               <!-- <span class="lead text-success sideHeadings"><strong>Experience</strong></span> -->
                               
                             <hr>
                            <!-- <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">My Recent Work</h1> -->
                            
                         </div>
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="info-left">
                            <br>
                            <br>
                            <br>
                           <br>
                           <br>
                            <img src="assets/Images/c111.png">
                            <h6>&nbsp;#Some random coffee cup!</h6> 
                          </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="info-right">
                              <div class="center">
      
                                  <div class="timeline-centered">
                          
                                  <article class="timeline-entry">
                          
                                      <div class="timeline-entry-inner">
                          
                                          <div class="timeline-icon bg-success">
                                              <i class="fa fa-pencil" aria-hidden="true"></i>
                                              
                                          </div>
                          
                                          <div class="timeline-label">
                                             <h2 class="text-success" ><a >Full Stack Developer</a></h2>
                                              <div class="mainFontExp">

                                                    As a Full-Stack Developer, I have been working in all aspects of the product, from its core infrastructure and back-end, to its custom front-end.Been working alongside other engineers and developers, collaborating on the various layers of the infrastructure. 
                                              <!-- I have advanced proficiencies in C#, Angular, MVC, BootStrap, HTML, CSS, JavaScript, excellent microsoft technology skills  and am familiar with SQL and Oracle.
                                                 I also have a solid foundation in C#, AS.NET ,AngularJS, MVC  and Node.JS. In addition to four years work experience, I hold a Masters  degree in Computer Science. -->
                                                 Experienced in developing responsive, interactive websites.Participating in product development from ideation to deployment and beyond.Maintain and help optimize existing systems.
                                                </div>
                                          </div>
                                      </div>
                          
                                  </article>
                          
                          
                                  <article class="timeline-entry">
                          
                                      <div class="timeline-entry-inner">
                          
                                          <div class="timeline-icon bg-secondary">
                                              <i class="fa fa-pencil" aria-hidden="true"></i>
                                          </div>
                          
                                          <div class="timeline-label">
                                              <h2 class="text-success"><a >.Net Developer</a></h2>
                                             
                                                  <div class="mainFontExp">
                                                I worked mostly on Microsoft frameworks, basically .NET applications.Writing  clean, scalable code using .NET programming languages Upgrading, configuring and debugging existing systems.Improving existing software.
                                            </div>
                                          
                                          </div>
                                      </div>
                          
                                  </article>
                                  <article class="timeline-entry">
                          
                                      <div class="timeline-entry-inner">
                          
                                          <div class="timeline-icon bg-info">
                                              <i class="fa fa-pencil" aria-hidden="true"></i>
                                          </div>
                          
                                          <div class="timeline-label">
                                              <h2 class="text-success"><a >Internship</a></h2>
                                              <div class="mainFontExp">
                                              I have started my software career here as an Intern. Ive dealt mostly with HTML, CSS desinging. I was involved in gathering the requirments from the business people. 
                                          </div>
                                        </div>
                                      </div>
                          
                                  </article>
                          
                          
                              </div>
                          
                              
                            </div>
                            <!-- <h2>Get To Know Google Home</h2>
                            <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</p>
                            <br>
                            <a class="btn btn-default btn-lg">Read More</a> -->
                          </div>
                        </div>
                      </div>
                    </div>


                 


                  </section>
                  
                 
                  
                  <section id="Technologies" >
                      <br>
                      <br>
                      <br>
                      <br>
                      <div class="text-center">
                            <!-- <h3 class="section-heading" style="color: #007E33"><ins>Technologies</ins></h3> -->
                            <!-- <span class="lead text-success sideHeadings"><strong>Technologies</strong></span> -->
                            <small class="text-success sideHeadings"><strong><cite></cite><ins> Technologies</ins></strong></small> 
                        </div>
                        <br>
                        <br>
                  <div id="bgcolor" class="feature even-more">
                     
                      <div class="col-lg-12 text-center" >
                            <br>
                            <h6  style="font:italic;" >The following are the technologies i've used extensively in my career till now.</h6>
                      <!-- <p class="lead">The following are the technologies i've used extensively in my career till now.</p> -->
                      </div>
                    
                      <div class="container additional-features">
                          <div class="row">
                              <div class="col-md-5 col-md-offset-1 item">
                                 
                                   <h4><i class="fa fa-globe itemIcon"></i> &nbsp;Front End</h4>
                                <p>  Designing dynamic and creative websites with cutting edge technolgies, with grandeour look and feel. Used BootStrap,
                                    CSS,JavaScript,Jquery, Angular6 etc.</p> 
                             
                              </div>
                              <div class="col-md-5 item"><i class="icon-paper-plane icon"></i>
                                <h4><i class="fa fa-globe itemIcon"></i> &nbsp;Programming</h4>
                                <p>  Keeping myself busy in updating the new programming languages
                                        in the market currently experienced with
                                        Asp.Net, Asp.Net Core2, C#,WebApis, EntityFramework Core!</p> 
                                
                              </div>
                              <div class="clearfix hidden-xs hidden-sm"></div>
                              <div class="col-md-5 col-md-offset-1 item"><i class="icon-grid icon"></i>
                                <h4><i class="fa fa-database itemIcon"></i> &nbsp;DataBase</h4>
                                <p>
                                        Worked and Explored SQL,Oracle databases. Good  at Writing queries,applying indexes and improving the Query performance performance.
                                </p>
                               
                              </div>
                              <div class="col-md-5 item"><i class="icon-vector icon"></i>
                                 <h4><i class="fa fa-database itemIcon"></i>&nbsp; Cloud</h4>
                                 <p>
                                        Hands on experience on Microsoft Azure, Idea on Amazon Web Services.Hosted my webservices on Azure platform and 
                                        the web applications on <a href="/sites">pay as you go method.</a>. 
                                 </p>
                               
                              </div>
                              <div class="clearfix hidden-xs hidden-sm"></div>
                              <div class="col-md-5 col-md-offset-1 item"><i class="icon-note icon"></i>
                                <h4><i class="fa fa-globe itemIcon"></i> &nbsp;Built and Deploy</h4>
                                <p>
                                        Continous Integration using CircleCI, GitHub and Bash  commands. 
                                        Pushing the code from local environment to server 
                                        using Azure access.
                                </p>
                                
                              </div>
                              <div class="col-md-5 item"><i class="icon-energy icon"></i>
                                  <h4><i class="fa fa-database itemIcon"></i>&nbsp;Tools</h4>
                                  <p>
                                        Used different versions of tools like, VisualStudio 2013/15/17 used different SQL and Oracle versions. 
                                        Different repository versions like TFS, SVM and GitHub. 
                                  </p>
                                 
                              </div>
                              <div class="clearfix hidden-xs hidden-sm"></div>
                              <div class="col-md-5 col-md-offset-1 item"><i class="icon-picture icon"></i>
                                <h4><i class="fa fa-database itemIcon"></i> &nbsp;Developing and Hosting</h4>
                                <p>
                                        Developing and Hosting an application from the scratch using new cutting edge technologies.
                                </p>
                          
                              </div>
                              <div class="col-md-5 col-md-offset-0 item" style="display:none"><i class="icon-cloud-download icon"></i>
                                  <h4><i class="fa fa-globe itemIcon"></i> &nbsp;Always Up to Date</h4>
                                  <p>
                                        Bootstrap Studio updates automatically, so you always have the latest version. We <a href="/pages/releases/">release updates every month</a>, filled with new
                                        features, components and improvements.
                                  </p>
                                
                              </div>
                          </div>
                      </div>
                  </div>
                </section>
                  <section id="info2" style="display:none">
                    <div class="container">
                        <div class="col-lg-12 text-center">
                            <h1><i class="fa fa-briefcase icon-b"></i></h1> <small class="text-success"><strong><cite></cite> EXPERIENCE</strong></small>
                        </div>
                        <br>
                        <br> <br>
                        <br>
                       
                      <div class="row">
                        <div class="col-md-6 col-sm-6">
                          <div class="info-left">
                      <h3 class="card-title text-success"> &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp; CGI Group</h3>  
                            <h6 style="color:orange"> &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;Full Stack Developer</h6>
                            <br>
                            <br>
                            <br>
                            <img class="card-img-top" src="assets/Images/Cgil1.jpeg" alt="Card image cap">
                            <p>CGI’s Insights to Action Report presents the global insights and perspectives we gain from listening to our clients, and showcases the innovative work we are doing to support them in becoming digital enterprisess
                              </p>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6">
                          <div class="info-right">
                             <h3 class="card-title text-success"> &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  App Scienti</h3><h6 style="color:orange"> &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;.Net Developer</h6>&nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;
                            &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;            &nbsp;&nbsp; &nbsp;&nbsp;  &nbsp;&nbsp;   <img class="card-img-top" src="assets/Images/appsc2.jpeg" alt="Card image cap">
                            <p>AppScienti is one of the fastest growing start up compnay in India. With its cutting technology it became a successfull IT Industry with more than thousand employees currently.</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
                  <br>
                  <br>

                 
                      <section id="AskMeAnything" class="contact">
                          <br>
                          <br>
                          <br>
                          <br>
                          <div class="col-lg-12 text-center">
                                
                              <!-- <figure class="image"><img class="is-skill-icon" src="img/icon-designer.svg"></figure>
                              <h1 class="title is-size-4 is-spaced">Designer</h1> -->
                              <!-- <h1><i class="fa fa-laptop icon-b"></i></h1>  -->
                            <!-- <small class="text-success mainFont"><strong><cite></cite>
                                      <h3 class="section-heading" style="color: #007E33"><ins>Ask Me Anythin</ins>g!</h3> </strong></small> 
                                      <small class="text-success sideHeadings"><strong><cite></cite><h3 > <ins> Ask Me Anythin</ins>g!</h3> </strong></small>  -->
                              <!-- <h1 class="title is-spaced is-size-3-desktop is-size-4-mobile">My Recent Work</h1> -->
                              <!-- <span class="lead text-success sideHeadings"><strong>AskMeAnything</strong></span> -->
                              <small class="text-success sideHeadings"><strong><cite></cite><ins> Ask Me Anythin</ins>g!</strong></small> 
                           </div>
                      <app-askmeanything></app-askmeanything>
                      
                      </section>

<br>
<br>

                      <div  >
                            <section id="about" class="eduWrk">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-12 text-center">
                                                <small class="text-success sideHeadings"><strong><cite></cite><h3 > <ins> Education & WorkExperience(TimeLine)</ins></h3> </strong></small> 
                                                <!-- <span class="lead text-success sideHeadings"><strong>TimeLine</strong></span> -->
                                            <!-- <h4 class="section-heading" style="color: #007E33"><ins>Education & WorkExperience(TimeLine)</ins> </h4> -->
                                            <h6  style="color: orange" style="font:italic;color: #007E33" >I have mentioned my achievements through timeline.<i class="fa fa-smile-o"></i><i class="fa fa-smile-o"></i></h6>
                                        </div>
                                    </div>
                                    <br>
                                    
                                </div>
                            </section>
                            
                         </div>
                         <div class="center" >
      
                                <div class="timeline-centered">
                        
                                <article class="timeline-entry">
                        
                                    <div class="timeline-entry-inner">
                        
                                        <div class="timeline-icon bg-success">
                                            <!-- <i class="fa fa-pencil" aria-hidden="true"></i> -->
                                            <i id="social-git" class="fa fa-graduation-cap"></i>
                                            
                                        </div>
                        
                                        <div class="timeline-label">
                                           <h2 class="text-success" style="color:#00a651">Under Graduation</h2>
                                            <div class="mainFontExp">

                                            
                                                   <!-- I've joined my under graduation in 2008 in the field of computer science. I have different subjects related to
                                                    computers. I've learned  . -->
                                                    Ever since I started my schooling, it was computers that played a cardinal role in my career. 
                                                    It was my school that introduced computers to me. I had computers as a subject in my 3rd standard, 
                                                    and it all started there. That marked the inception of computers in my life. From that time, 
                                                    my quest for computer and its related skills took birth and eventually 
                                                    I have pursued my under graduation in the field of computer science. I have started exploring various computer languages & skills. 
                                              </div>
                                        </div>
                                    </div>
                        
                                </article>
                        
                        
                                <article class="timeline-entry">
                        
                                    <div class="timeline-entry-inner">
                        
                                        <div class="timeline-icon bg-secondary">
                                                <i class="fa fa-users" aria-hidden="true"></i>
                                        </div>
                        
                                        <div class="timeline-label">
                                            <h2 class="text-success" style="color:#ee4749">AppScienti</h2>
                                           
                                                <div class="mainFontExp">
                                                        After finishing my graduation from JNTU, I have received an oppurtunity to work with a start up 
                                                        company "AppScient". I have applied my therotical knwoledge into practicle and exelled in this company. I have started working on microsoft technologies from then.
                                          </div>
                                        
                                        </div>
                                    </div>
                        
                                </article>
                                <article class="timeline-entry">
                        
                                    <div class="timeline-entry-inner">
                        
                                        <div class="timeline-icon bg-warning">
                                                <i id="social-git" class="fa fa-graduation-cap"></i>
                                        </div>
                        
                                        <div class="timeline-label">
                                            <h2 class="text-success" style="color:#f0ad4e">Gradution</h2>
                                            <div class="mainFontExp">
                                                    This ardor towards Computer Science and the Quest to increase my knwoledge in the field, I took a step forward and pursued my masters in United States in the 
                                                    field of computer science from "University of Central Missouri".
                                                   
                                                   
                                                    The master's degree  program has provided a career boost by enabling  to expand my expertise in the field of computers.
                                                    I've learned specialized skills in one or more areas of technology, including network security, software development and etc.
                                        </div>
                                      </div>
                                    </div>
                        
                                </article>
                                <article class="timeline-entry">
                        
                                        <div class="timeline-entry-inner">
                            
                                            <div class="timeline-icon bg-info">
                                                    <i class="fa fa-users" aria-hidden="true"></i>
                                            </div>
                            
                                            <div class="timeline-label">
                                                <h2 class="text-success"  style="color:#21a9e1">CGI Group</h2>
                                                <div class="mainFontExp">
                                                       I've worked more than four years as a Full Stack Developer for <a href="https://www.cgi.com/en">CGI Group</a>,a Canadian-based, multinational technology company focusing in services, Implemenataion, cloud computing, and artificial intelligence.
                                                       Here i have been exploring with all the new technolgies in the Industry now.
                                            </div>                                               

                                          </div>                                         
                                        </div>
                            
                                    </article>
                                    <article class="timeline-entry">
                        
                                        <div class="timeline-entry-inner">
                            
                                            <div class="timeline-icon bg-info">
                                                    <i class="fa fa-users" aria-hidden="true"></i>
                                            </div>
                            
                                            <div class="timeline-label">
                                                <h2 class="text-success"  style="color:#21a9e1">Uptake</h2>
                                                <div class="mainFontExp">
                                                       Currently working as a Senior Software Engineer for <a href="https://www.uptake.com/">Uptake</a>. Uptake builds
                                                       products are purpose-built for industrial operations. We combine advanced analytics with a deep understanding of real-world applications to solve problems in asset-heavy industries all over the world. 
                                                       Uptake empowers the workforce to turn underutilized data into insights that optimize asset-and process-intensive operations.
                                                     
                                            </div>
                                            <button type="button" class="fontFamily" style="font:italic;background-color: #007E33;color:white">
                                                    Download Resume</button>
                                                    <br> <p class="blog-post-bottom pull-right" style="font: size 5px;">
                                                            <span class="badge quote-badge" ></span> -- Naveen Patancheru ❤
                                                          </p>
                                                          <br>

                                          </div>
                                        </div>
                            
                                    </article>
                        
                            </div>
                        
                            
                          </div>


                     
                        </div>
                      <section id="Footer">
                         
                      
                      <footer class="footer-distributed">

                          <div class="footer-left">
                    
                            <!-- <h3>Company<span>logo</span></h3> -->
                            <!-- <li><a href="#showcase" >Home</a></li>
                           
                            <li><a href="#info1">Experience</a></li>
                            <li><a href="#Technologies">Technologies</a></li>
                            <li><a href="#AskMeAnything">AskMeAnything</a></li>
                            <li><a href="#Footer">Contact</a></li> -->
                            <p class="footer-links">
                              <a href="#showcase" class="fontFamily">Home</a>
                              ·
                              <a href="#info1" class="fontFamily">Experience</a>
                              ·
                              <a href="#Technologies" class="fontFamily">Technologies</a>
                              ·
                              <a href="#AskMeAnything" class="fontFamily"> AskMeAnything</a>
                              
                             
                              
                              <!-- <a href="#Footer" class="fontFamily">Contact</a> -->
                            </p>
                    
                            <p class="footer-company-name fontFamily" >Naveen Patancheru &copy; 2019</p>
                          </div>
                    
                          <div class="footer-center">
                    
                            <div >
                              <i class="fa fa-map-marker"></i>
                              <p><span>Toronto, Ontario</span> Canada</p>
                            </div>
                    
                            <div>
                              <i class="fa fa-phone"></i>
                              <p>+1 660 441 1182</p>
                            </div>
                    
                            <div>
                              <i class="fa fa-envelope"></i>
                              <p><a href="mailto:NaveenPatancheru@Outlook.com">NaveenPatancheru@outlook.com</a></p>
                             
                            </div>
                    
                          </div>
                    
                          <div class="footer-right">
                    
                            <p class="footer-company-about" style="display:none">
                              <span>About the company</span>
                              Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
                            </p>
                    
                            <div class="footer-icons">
                    
                                <!-- <a href="https://www.facebook.com/profile.php?id=100001580072356"><i id="social-fb" class="fa fa-facebook-square fa-4x social"></i></a>
                                <a href="https://twitter.com/naveenR34536534"><i id="social-tw" class="fa fa-twitter-square fa-4x social"></i></a>
                                  <a href="https://www.linkedin.com/in/naveen-reddy-03457311a"><i id="social-gp" class="fa fa-linkedin-square fa-4x social"></i></a>
                                  <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-reddit-square fa-4x social"></i></a>
                                  <a href="https://www.instagram.com/naveen.patancheru"><i id="social-insta" class="fa fa-instagram fa-4x social"></i></a>
                                  <a href="https://github.com/Naveenpatancheru"><i id="social-git" class="fa fa-github fa-4x social"></i></a> -->
                               <a href="https://www.facebook.com/profile.php?id=100001580072356" style="background-color:white"><i id="social-fb"  class="fa fa-facebook"></i></a>
                              <a href="https://twitter.com/naveenR34536534" style="background-color:white"><i id="social-tw"  class="fa fa-twitter"></i></a>
                              <a href="https://www.linkedin.com/in/naveen-reddy-03457311a" style="background-color:white"><i id="social-gp" class="fa fa-linkedin"></i></a>
                              <a href="https://github.com/Naveenpatancheru" style="background-color:white"><i id="social-git"  class="fa fa-github"></i></a> 
                              
                    
                            </div>
                    
                          </div>
                    
                        </footer>
                    </section>

                      <!-- <footer>

                            <p class="text-center">TechScroll Copyright &copy; 2017</p>

                          </footer> -->
                          <script>
                          $(function() {
                            // Smooth Scrolling
                            $('a[href*="#"]:not([href="#"])').click(function() {
                              if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
                                var target = $(this.hash);
                                target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
                                if (target.length) {
                                  $('html, body').animate({
                                    scrollTop: target.offset().top
                                  }, 1000);
                                  return false;
                                }
                              }
                            });
                          });

                          $(".nav .nav-link").on("click", function(){
   $(".nav").find(".active").removeClass("active");
   $(this).addClass("active");
});



                        </script>
                        <script type="text/javascript">
$(document).ready(function(){
    $('.toggle').click(function(){
        $('ul').toggleClass('active');
    })
})
                        </script>
                       